@charset "UTF-8";
body{
	background-color: black;
	color: lime
}

@-webkit-keyframes typing {
    from { width: 0 }
    to { width:16.3em }
}

@-moz-keyframes typing {
    from { width: 0 }
    to { width:16.3em }
}

@-webkit-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}

@-moz-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}

body { font-family: Consolas, monospace; }

h1 { 
	font-size:10pt;
    font-size:150%;
    width:16.3em;
    white-space:nowrap;
    overflow:hidden;
    border-right: .1em solid black;
    
    -webkit-animation: typing 17s steps(30, end), /* # of steps = # of characters */
                        blink-caret 1s step-end infinite;
    -moz-animation: typing 17s steps(30, end), /* # of steps = # of characters */
                        blink-caret 1s step-end infinite;
}

input{
	border: none;
	background-color: black;
	color: lime;
	font-size:2.0em;
    width:16.3em;
       white-space:nowrap;
    overflow:hidden;
}

input:focus {outline:none;}
form{
	border:none;
}

div{
	margin-top: 5%;
}

button{
	border: none;
	background-color: black;
	color: lime;
	font-size:1.5em;
    width:auto;
       white-space:nowrap;
    overflow:hidden;
    text-align: center;
}
button:focus {
	outline:none;
	background-color: lime;
	color: black;
	
}

span.main{
	display: flex;
	justify-content: center;
	font-size: 2.5em;
	height: auto;
	width: auto;
}

span{
	font-size: 2.0em;
	height: auto;
	width: auto;
}

span.art{
	font-family: 'Orbitron', sans-serif;
	display: flex;
	justify-content: center;
	font-size: 6em;
	height: auto;
	width: auto;
	margin-top: 10%;
	margin-bottom: 15%
}